.add-column-row-container {
  width: 450px;
  justify-content: space-between;
}
.delete-column {
  font-size: 16px;
  border-radius: 3px;
  background-color: rgb(148, 92, 92);
  padding: 2px 9px;
  cursor: pointer;
  color: white;
  margin-left: 6px;
}
.edit-btn,
.update-btn {
  display: none;
}
.save-btn {
  color: white;
}
